<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>PHPKonf Netsparker İstanbul PHP Conference 2019</title>
  <meta content="PHPKonf is hosted by the Istanbul PHP community in Istanbul, Turkey at May 4th 2019 and you're invited! For the 6th year, we'll host some of the best speakers, awesome talk topics, latest technologies, and up to date news in PHP." property="og:description">
  <meta name="keywords" content="PHP, PHPKonf, PHP Conference, PHP Konferansı, İstanbul PHP Konferansı, Istanbul PHP Conference">
  <meta property="og:url" content="https://www.youtube.com/watch?v=V2Cbe_fK5-c"/>
  <meta property="og:image" content="https://netsparker.phpkonf.org/img/player.png"/>
  <meta name="twitter:card" content="player" />
	<meta name="twitter:site" content="@istanbulphp" />
  <meta name="twitter:title" content="PHPKonf Netsparker İstanbul PHP Conference 2019" />
  <meta name="twitter:url" content="https://netsparker.phpkonf.org">
	<meta name="twitter:description" content="May the 4th be with you!" />
	<meta name="twitter:image" content="https://netsparker.phpkonf.org/img/player.png" />
	<meta name="twitter:player" content="https://www.youtube.com/embed/V2Cbe_fK5-c" />
	<meta name="twitter:player:width" content="480" />
  <meta name="twitter:player:height" content="480" />
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <nav class="mobile-navigation fixed" role="navigation">
    <img src="img/logo.svg" class="logo" />
    <div class="toggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul class="menu">
        <li><a href="#about">About</a></li>
        <li><a href="#trailer">Trailer</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#tickets">Tickets</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="c-hero">
    <img src="img/header-characters.png" alt="" class="c-hero__characters" />
    <div class="c-hero__info">
      <div class="c-hero__title">
        <div class="c-title-with-icon">
          <svg class="icon c-title-with-icon__icon">
            <use xlink:href="#icon-calendar"></use>
          </svg>
          <span class="c-title-with-icon__title">MAY THE 4TH</span>
        </div>
      </div>
      <div class="c-hero__title">
        <div class="c-title-with-icon">
          <svg class="icon c-title-with-icon__icon">
            <use xlink:href="#icon-map-pin"></use>
          </svg>
          <span class="c-title-with-icon__title">İSTANBUL</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="u-text-center u-gap-top-large">
        <img src="img/logo.svg" alt="" class="c-hero__logo" />
      </div>
    </div>
    <h3 class="c-hero__subtext u-text-center">NETSPARKER İSTANBUL PHP CONFERENCE 2019</h3>
    <h3 class="c-hero__subtext u-text-center">MAY THE 4TH BE WITH YOU!</h3>
    <div class="container">
      <div class="c-hero__groups">
        <a target="_blank" href="https://www.biletino.com/event/eventdetail/6410?l=en" class="c-button c-button--primary c-hero__buttons">TICKETS</a>
        <a href="https://www.youtube.com/watch?v=V2Cbe_fK5-c" class="c-button c-button--primary-outline c-hero__buttons" data-fancybox="trailer">TRAILER</a>
      </div>
    </div>
  </div>
  <div id="about" class="c-about">
    <div class="u-text-center">
      <img src="img/about-image.png" alt="" />
    </div>
    <h1 class="u-text-center c-about__title">About PHPKonf</h1>
    <div class="container c-about__container">
      <div class="col col--md-8">
        <p class="c-about__text">
          PHPKonf is hosted by the <a target="_blank" href="https://www.meetup.com/istanbulphp/">İstanbul PHP</a> community in İstanbul, Turkey at May 4th 2019 and
          you're invited! For the 6th year, we'll host some of the best speakers, awesome talk topics,
          latest technologies, and up to date news in PHP.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="row c-about__container">
        <div class="col col--md-3 col--sm-6 col--xs-12">
          <a href="img/about-1.jpg" data-caption="RASMUS LERDORF, PHPKONF 2017" data-fancybox="about-gallery">
            <img src="img/about-1.png" alt="" class="c-about__item">
          </a>
        </div>
        <div class="col col--md-3 col--sm-6 col--xs-12">
          <a href="img/about-2.jpg" data-caption="FABIEN POTENCIER, PHPKONF 2016" data-fancybox="about-gallery">
            <img src="img/about-2.png" alt="" class="c-about__item">
          </a>
        </div>
        <div class="col col--md-3 col--sm-6 col--xs-12">
          <a href="img/about-3.jpg" data-caption="JORDI BOGGIANO / PIERRE JOYE, PHPKONF 2015" data-fancybox="about-gallery">
            <img src="img/about-3.png" alt="" class="c-about__item">
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="c-about__badges">
          <a target="_blank" href="http://2014.phpkonf.org/" class="c-about__badges-item">
            <span class="c-about__badges-link">2014</span>
          </a>
          <a target="_blank" href="http://2015.phpkonf.org/" class="c-about__badges-item">
            <span class="c-about__badges-link">2015</a>
          </a>
          <a target="_blank" href="http://2016.phpkonf.org/" class="c-about__badges-item">
            <span class="c-about__badges-link">2016</span>
          </a>
          <a target="_blank" href="http://2017.phpkonf.org/" class="c-about__badges-item">
            <span class="c-about__badges-link">2017</span>
          </a>
          <a target="_blank" href="http://2018.phpkonf.org/" class="c-about__badges-item">
            <span class="c-about__badges-link">2018</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="app">
    <div id="speakers" class="c-speaker">
      <div class="container c-speaker__container">
        <img src="img/decoration-image01.png" alt="" class="c-speaker__decoration-image" />
      </div>
      <img src="img/decoration.png" alt="" class="c-speaker__decoration-image-02" />

      <div class="c-speaker__speakers">
        <div class="c-title">
          <h1 class="c-title__text">Speakers</h1>
          <svg class="icon c-title__icon">
            <use xlink:href="#icon-arrow-down"></use>
          </svg>
        </div>

        <div class="c-speaker__content">
          <div class="container">
            <div class="row">
              <div class="col col--lg-4 col--md-6 col--sm-6" v-for="item in getRandomSpeakers()">
                <div class="c-speaker-card"  v-on:click="openModal(item)">
                  <div class="c-speaker-image">
                    <img :src="item.avatar" alt="" class="c-speaker-image__image" />
                  </div>
                  <div class="c-speaker-card__content">
                    <h3 class="c-speaker-card__title">{{ item.name }}</h3>
                    <span class="c-speaker-card__with-jobs">{{ item.title }} <span class="c-speaker-card__hastag">@{{
                        item.company }}</span></span>
                    <ul class="c-speaker-card__menu">
                      <li class="c-speaker-card__menu-item">
                        <a :href="item.social.twitter" target="_blank" class="c-speaker-card__menu-link">
                          <svg class="icon">
                            <use xlink:href="#icon-twitter"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="c-speaker-card__menu-item">
                        <a :href="item.social.github" target="_blank" class="c-speaker-card__menu-link github">
                          <svg class="icon">
                            <use xlink:href="#icon-github"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="c-speaker-card__menu-item">
                        <a :href="item.social.linkedin" target="_blank" class="c-speaker-card__menu-link">
                          <svg class="icon">
                            <use xlink:href="#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <a href="./speakers.html" class="c-button c-button--primary u-block-center">ALL SPEAKERS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="schedule" class="c-schedule">
      <div class="c-title">
        <h1 class="c-title__text">Schedule</h1>
        <svg class="icon c-title__icon">
          <use xlink:href="#icon-arrow-down"></use>
        </svg>
      </div>

      <div class="container u-gap-top-xlarge c-schedule__desktop">
        <div class="row">
          <div class="col col--md-6 col--xs-12 extra-col">
            <div class="c-schedule__title u-text-center"></div>
            <span class="c-schedule__text"><span class="c-schedule__inner-text">Netsparker Track</span></span>
          </div>
          <div class="col col--md-6 col--xs-12 extra-col">
            <div class="c-schedule__title u-text-center"></div>
            <span class="c-schedule__text"><span class="c-schedule__inner-text">Moneo Track</span></span>
          </div>
        </div>
      </div>
      <div class="c-timeline">
        <div class="container">

          <div class="" v-for="schedule in getSchedule()">
            <div :class="schedule[0].class">
              <div class="col col--md-6 col--sm-12" v-for="session in schedule">
                <div class="c-timeline__item c-timeline__item--left c-timeline__item-mt" v-if="session.track == 1">
                  <div class="c-timeline__clock c-timeline__clock--push-right">
                    <svg class="icon c-timeline__icon">
                      <use xlink:href="#icon-clock"></use>
                    </svg>
                    {{ session.time }} - {{ session.finish }}
                  </div>
                  <span class="c-schedule__mobile">Netsparker Track</span>
                  <h3 class="c-timeline__title c-timeline__title--left">{{ session.title }}</h3>
                  <p class="c-timeline__info" v-if="session.description.length > 0">
                    {{ session.description }}
                  </p>
                  <div class="c-timeline__speaker" v-if="session.name.length > 0">
                    <img :src="session.avatar" alt="" class="c-timeline__image" />
                    <span class="c-timeline__person">{{ session.name }}</span>
                  </div>
                </div>

                <!-- ELSE -->
                <div class="c-timeline__item c-timeline__item--right c-timeline__item-mt" v-else>
                  <div class="c-timeline__clock c-timeline__clock--push-left">
                    <svg class="icon c-timeline__icon">
                      <use xlink:href="#icon-clock"></use>
                    </svg>
                    {{ session.time }} - {{ session.finish }}
                  </div>
                  <span class="c-schedule__mobile">Moneo Track</span>
                  <h3 class="c-timeline__title c-timeline__title--right">
                    {{ session.title }}
                  </h3>
                  <p class="c-timeline__info" v-if="session.description.length > 0">
                    {{ session.description }}
                  </p>
                  <div class="c-timeline__speaker" v-if="session.name.length > 0">
                    <img :src="session.avatar" alt="" class="c-timeline__image" />
                    <span class="c-timeline__person">{{ session.name }}</span>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="c-timeline__clock--center">
              <svg class="icon c-timeline__icon--center">
                <use xlink:href="#icon-clock"></use>
              </svg>
              18:00 - 22:30
            </div>
          </div>
          <div class="row">
            <div class="c-timeline__end-img">
              <img src="img/gun.png" alt="" class="c-timeline__end-image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tickets" class="c-tickets">
    <div class="c-title">
      <h1 class="c-title__text">Tickets</h1>
      <svg class="icon c-title__icon">
        <use xlink:href="#icon-arrow-down"></use>
      </svg>
    </div>

    <div class="c-tickets__content">
      <div class="container">
        <div class="row">
          <div class="col col--lg-4 col--md-4 col--sm-12 col--xs-12 c-tickets__card">
            <div class="c-ticket-card">
              <img src="img/shape-decoration.svg" alt="" class="c-ticket-card__decoration" />
              <h3 class="u-text-center">Standard</h3>
              <span class="c-ticket-card__price">€20</span>
              <div class="c-ticket-card__icons">
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="c-ticket-card__icons">
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
              </div>
              <ul class="c-ticket-card__menu">
                <li class="c-ticket-card__menu-item">
                  <svg class="icon c-ticket-card__menu-icon">
                    <use xlink:href="#icon-check-circle"></use>
                  </svg>
                  <span>Ticket guarrantees admission</span>
                </li>
                <li class="c-ticket-card__menu-item">
                  <svg class="icon c-ticket-card__menu-icon">
                    <use xlink:href="#icon-check-circle"></use>
                  </svg>
                  <span>Lunch & Hot / cold refreshments</span>
                </li>
              </ul>
              <a target="_blank" href="https://www.biletino.com/event/eventdetail/6410?l=en" class="c-button c-button--secondary c-ticket-card__button u-block">Buy Now</a>
            </div>
          </div>
          <div class="col col--lg-4 col--md-4 col--sm-12 col--xs-12 c-tickets__card">
            <div class="c-ticket-card">
              <img src="img/shape-arrow.png" alt="" class="c-ticket-card__decoration" />
              <h3 class="u-text-center">Exclusive</h3>
              <span class="c-ticket-card__price">€40</span>
              <div class="c-ticket-card__icons">
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="c-ticket-card__icons">
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
              </div>
              <ul class="c-ticket-card__menu">
                <li class="c-ticket-card__menu-item">
                  <svg class="icon c-ticket-card__menu-icon">
                    <use xlink:href="#icon-check-circle"></use>
                  </svg>
                  <span>Ticket guarrantees admission</span>
                </li>
                <li class="c-ticket-card__menu-item">
                  <svg class="icon c-ticket-card__menu-icon">
                    <use xlink:href="#icon-check-circle"></use>
                  </svg>
                  <span>Lunch & Hot / cold refreshments</span>
                </li>
                <li class="c-ticket-card__menu-item">
                  <svg class="icon c-ticket-card__menu-icon">
                    <use xlink:href="#icon-check-circle"></use>
                  </svg>
                  <span>Private after-party dinner with guest speakers</span>
                </li>
              </ul>
              <a target="_blank" href="https://www.biletino.com/event/eventdetail/6410?l=en" class="c-button c-button--primary c-ticket-card__button u-block">Buy Now</a>
            </div>
          </div>
          <div class="col col--lg-4 col--md-4 col--sm-12 col--xs-12  c-tickets__card">
            <div class="c-ticket-card">
              <img src="img/shape-decoration.svg" alt="" class="c-ticket-card__decoration" />
              <h3 class="u-text-center">Community Support</h3>
              <span class="c-ticket-card__price">€100</span>
              <div class="c-ticket-card__icons">
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
              </div>
              <div class="c-ticket-card__icons">
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
                <svg class="icon c-ticket-card__icon">
                  <use xlink:href="#icon-arrow-down"></use>
                </svg>
              </div>
              <ul class="c-ticket-card__menu">
                <li class="c-ticket-card__menu-item">
                  <svg class="icon c-ticket-card__menu-icon">
                    <use xlink:href="#icon-check-circle"></use>
                  </svg>
                  <span>Ticket guarrantees admission</span>
                </li>
                <li class="c-ticket-card__menu-item">
                  <svg class="icon c-ticket-card__menu-icon">
                    <use xlink:href="#icon-check-circle"></use>
                  </svg>
                  <span>Lunch & Hot / cold refreshments</span>
                </li>
                <li class="c-ticket-card__menu-item">
                  <svg class="icon c-ticket-card__menu-icon">
                    <use xlink:href="#icon-check-circle"></use>
                  </svg>
                  <span>Private after-party dinner with guest speakers</span>
                </li>
                <li class="c-ticket-card__menu-item">
                  <svg class="icon c-ticket-card__menu-icon">
                    <use xlink:href="#icon-check-circle"></use>
                  </svg>
                  <span>Support our Meetup & Conference (We'll send thank you tweet!)</span>
                </li>
              </ul>
              <a target="_blank" href="https://www.biletino.com/event/eventdetail/6410?l=en" class="c-button c-button--secondary c-ticket-card__button u-block">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sponsors" class="c-sponsors">
    <div class="container">
      <div class="c-title">
        <h1 class="c-title__text">Sponsors</h1>
        <p class="c-title__subtext">Would you like to be the part of this great event? Please <a href="mailto:mail@istanbulphp.org">get in touch</a>
          with us for sponsorship options!</p>
        <svg class="icon c-title__icon">
          <use xlink:href="#icon-arrow-down"></use>
        </svg>
      </div>
    </div>
    <div class="container">
      <h3 class="c-sponsors__main-text main">Main Sponsor</h3>
      <img src="img/shape.png" alt="" />
      <div class="c-sponsors__content">
        <div class="c-sponsors__sponsor">
          <a href="https://www.netsparker.com" target="_blank">
            <div class="c-sponsor-image main">
              <figure class="c-sponsor-image__figure">
                <img src="img/sponsors/netsparker.png" alt="" />
              </figure>
            </div>
          </a>
        </div>
        <h3 class="c-sponsors__main-text platinum">Platinum Sponsors</h3>
        <img src="img/shape-decoration.svg" class="c-sponsors__decoration c-sponsors__decoration--platinum" />
        <div class="c-sponsors__sponsor">
          <div class="c-sponsors__element">
            <a href="https://itsmoneo.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/moneo.svg" alt="" />
                </figure>
              </div>
            </a>
          </div>
          <div class="c-sponsors__element">
            <a href="https://dugun.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img width="300px" src="img/sponsors/dugun.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
          <div class="c-sponsors__element">
            <a href="https://useinsider.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/insider.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
          <div class="c-sponsors__element">
            <a href="https://blackfire.io" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img width="200px" src="img/sponsors/blackfire.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
          <div class="c-sponsors__element">
            <a href="https://www.zingat.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/zingat.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
        </div>
        <h3 class="c-sponsors__main-text gold">Gold Sponsors</h3>
        <img src="img/shape-decoration.svg" class="c-sponsors__decoration c-sponsors__decoration--platinum" />
        <div class="c-sponsors__sponsor">
          <div class="c-sponsors__element">
            <a href="https://www.jetbrains.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/jetbrains.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
          <div class="c-sponsors__element">
            <a href="https://www.atolye15.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img style="width:auto" src="img/sponsors/atolye15.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
          <div class="c-sponsors__element">
            <a href="https://kolayik.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/kolayik-new.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
          <div class="c-sponsors__element">
            <a href="https://www.modanisa.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/modanisa.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
          <div class="c-sponsors__element">
            <a href="https://enuygun.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/enuygun.jpg" alt="" />
                </figure>
              </div>
            </a>
          </div>
          <div class="c-sponsors__element">
            <a href="https://www.gozensystems.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/gozen-systems.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
          <div class="c-sponsors__element">
            <a href="https://90pixel.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/90pixel.svg" alt="" />
                </figure>
              </div>
            </a>
          </div>
          <div class="c-sponsors__element">
            <a href="https://www.pembepanjur.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/pembe-panjur.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
        </div>
        <h3 class="c-sponsors__main-text gold">Silver Sponsors</h3>
        <img src="img/shape-decoration.svg" class="c-sponsors__decoration c-sponsors__decoration--platinum" />
        <div class="c-sponsors__sponsor">
          <div class="c-sponsors__element">
            <a href="https://www.akrep.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/akrep.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
          <div class="c-sponsors__element">
            <a href="https://www.masomo.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/masomo.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
        </div>
        <h3 class="c-sponsors__main-text gold">Printing Sponsor</h3>
        <img src="img/shape-decoration.svg" class="c-sponsors__decoration c-sponsors__decoration--platinum" />
        <div class="c-sponsors__sponsor">
          <div class="c-sponsors__element">
            <a href="https://www.bidolubaski.com" target="_blank">
              <div class="c-sponsor-image secondary">
                <figure class="c-sponsor-image__figure">
                  <img src="img/sponsors/bidolubaski.png" alt="" />
                </figure>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="contact" class="c-location">
    <div class="c-location__icon">
      <svg class="icon c-location__icons">
        <use xlink:href="#icon-map"></use>
      </svg>
    </div>

    <div class="container">
      <h1 class="u-text-center c-location__title">Kadir Has Üniversitesi, Cibali Kampüsü</h1>
      <p class="u-text-center c-location__subtitle">
        Cibali Mah. Hisaraltı Cad. No:17 Fatih / İSTANBUL
      </p>
      <div class="c-location__line">
        <img src="img/line-shape.png" alt="" class="u-full-width" />
      </div>
      <div class="c-location__map u-text-center">
        <div id="map" style="width: 100%; height: 100%"></div>
        <script>
          var map;

          function initMap() {
            var pos = {
              lat: 41.023811,
              lng: 28.960339
            };

            map = new google.maps.Map(document.getElementById('map'), {
              center: pos,
              zoom: 16,
              styles: [{
                  elementType: 'geometry',
                  stylers: [{
                    color: '#212121',
                  }, ],
                },
                {
                  elementType: 'labels.icon',
                  stylers: [{
                    visibility: 'off',
                  }, ],
                },
                {
                  elementType: 'labels.text.fill',
                  stylers: [{
                    color: '#757575',
                  }, ],
                },
                {
                  elementType: 'labels.text.stroke',
                  stylers: [{
                    color: '#212121',
                  }, ],
                },
                {
                  featureType: 'administrative',
                  elementType: 'geometry',
                  stylers: [{
                    color: '#757575',
                  }, ],
                },
                {
                  featureType: 'administrative.country',
                  elementType: 'labels.text.fill',
                  stylers: [{
                    color: '#9e9e9e',
                  }, ],
                },
                {
                  featureType: 'administrative.land_parcel',
                  stylers: [{
                    visibility: 'off',
                  }, ],
                },
                {
                  featureType: 'administrative.locality',
                  elementType: 'labels.text.fill',
                  stylers: [{
                    color: '#bdbdbd',
                  }, ],
                },
                {
                  featureType: 'poi',
                  elementType: 'labels.text.fill',
                  stylers: [{
                    color: '#757575',
                  }, ],
                },
                {
                  featureType: 'poi.park',
                  elementType: 'geometry',
                  stylers: [{
                    color: '#181818',
                  }, ],
                },
                {
                  featureType: 'poi.park',
                  elementType: 'labels.text.fill',
                  stylers: [{
                    color: '#616161',
                  }, ],
                },
                {
                  featureType: 'poi.park',
                  elementType: 'labels.text.stroke',
                  stylers: [{
                    color: '#1b1b1b',
                  }, ],
                },
                {
                  featureType: 'road',
                  elementType: 'geometry.fill',
                  stylers: [{
                    color: '#2c2c2c',
                  }, ],
                },
                {
                  featureType: 'road',
                  elementType: 'labels.text.fill',
                  stylers: [{
                    color: '#8a8a8a',
                  }, ],
                },
                {
                  featureType: 'road.arterial',
                  elementType: 'geometry',
                  stylers: [{
                    color: '#373737',
                  }, ],
                },
                {
                  featureType: 'road.highway',
                  elementType: 'geometry',
                  stylers: [{
                    color: '#3c3c3c',
                  }, ],
                },
                {
                  featureType: 'road.highway.controlled_access',
                  elementType: 'geometry',
                  stylers: [{
                    color: '#4e4e4e',
                  }, ],
                },
                {
                  featureType: 'road.local',
                  elementType: 'labels.text.fill',
                  stylers: [{
                    color: '#616161',
                  }, ],
                },
                {
                  featureType: 'transit',
                  elementType: 'labels.text.fill',
                  stylers: [{
                    color: '#757575',
                  }, ],
                },
                {
                  featureType: 'water',
                  elementType: 'geometry',
                  stylers: [{
                    color: '#000000',
                  }, ],
                },
                {
                  featureType: 'water',
                  elementType: 'labels.text.fill',
                  stylers: [{
                    color: '#3d3d3d',
                  }, ],
                },
              ],
            });

            var marker = new google.maps.Marker({
              position: pos,
              map: map,
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCuK4RjKW2U0Vlr0OTFNshTc1Ae1DdlBk&callback=initMap"
          async defer></script>
      </div>
    </div>
  </div>
  <div class="c-footer">
    <div class="container">
      <div class="c-footer__navigation">
        <ul class="c-footer__menu">
          <li class="c-footer__menu-item left">
            <a href="mailto:mail@istanbulphp.org" class="c-footer__menu-link">Contact</a>
          </li>
          <li class="c-footer__menu-item left">
            <a target="_blank" href="http://confcodeofconduct.com/" class="c-footer__menu-link">Code of Conduct</a>
          </li>
        </ul>
        <div class="c-footer__logo-desktop">
          <a target="_blank" href="https://www.atolye15.com/" class="c-footer__logo desktop">
            <img src="img/atolye-logo.png" alt="" />
          </a>
        </div>
        <ul class="c-footer__menu">
          <li class="c-footer__menu-item">
            <a target="_blank" href="https://twitter.com/istanbulphp" class="c-footer__menu-link">
              <svg class="icon">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="c-footer__menu-item">
            <a target="_blank" href="https://github.com/istanbulphp" class="c-footer__menu-link">
              <svg class="icon">
                <use xlink:href="#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="c-footer__menu-item">
            <a target="_blank" href="https://meetup.com/istanbulphp" class="c-footer__menu-link">
              <svg class="icon">
                <use xlink:href="#icon-meetup"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="c-footer__logo-mobile">
          <a target="_blank" href="https://www.atolye15.com/" class="c-footer__logo">
            <img src="img/atolye-logo.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="u-hidden">
    <svg xmlns="http://www.w3.org/2000/svg">
      <symbol id="icon-arrow-down" viewBox="0 0 24 24">
        <path d="M11.872 17.875l11.75-11.75H.122l11.75 11.75z" />
      </symbol>
      <symbol id="icon-arrow-left" viewBox="0 0 24 24">
        <path d="M19 11H7.4l5.3-5.3c.4-.4.4-1 0-1.4s-1-.4-1.4 0l-7 7c-.1.1-.2.2-.2.3-.1.2-.1.5 0 .8.1.1.1.2.2.3l7 7c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4L7.4 13H19c.6 0 1-.4 1-1s-.4-1-1-1z" />
      </symbol>
      <symbol id="icon-calendar" viewBox="0 0 24 24">
        <path d="M19 3h-2V2c0-.6-.4-1-1-1s-1 .4-1 1v1H9V2c0-.6-.4-1-1-1s-1 .4-1 1v1H5C3.3 3 2 4.3 2 6v14c0 1.7 1.3 3 3 3h14c1.7 0 3-1.3 3-3V6c0-1.7-1.3-3-3-3zM5 5h2v1c0 .6.4 1 1 1s1-.4 1-1V5h6v1c0 .6.4 1 1 1s1-.4 1-1V5h2c.6 0 1 .4 1 1v3H4V6c0-.6.4-1 1-1zm14 16H5c-.6 0-1-.4-1-1v-9h16v9c0 .6-.4 1-1 1z" />
      </symbol>
      <symbol id="icon-check-circle" viewBox="0 0 32 32">
        <path d="M16 31.333C7.532 31.333.667 24.467.667 16S7.532.667 16 .667 31.333 7.532 31.333 16 24.467 31.333 16 31.333zm-2.396-12.045l-3.082-3.138a1.278 1.278 0 0 0-1.821 1.792l3.993 4.065c.232.236.554.382.911.382s.679-.146.911-.382l8.785-8.945a1.278 1.278 0 1 0-1.822-1.793l-7.874 8.017z" />
      </symbol>
      <symbol id="icon-clock" viewBox="0 0 24 24">
        <path d="M12 1C5.9 1 1 5.9 1 12s4.9 11 11 11 11-4.9 11-11S18.1 1 12 1zm0 20c-5 0-9-4-9-9s4-9 9-9 9 4 9 9-4 9-9 9z" />
        <path d="M16.4 13.1L13 11.4V6c0-.6-.4-1-1-1s-1 .4-1 1v6c0 .4.2.7.6.9l4 2c.1.1.2.1.4.1.4 0 .7-.2.9-.6s0-1-.5-1.3z" />
      </symbol>
      <symbol id="icon-facebook" viewBox="0 0 24 24">
        <path d="M13.886 23.497H8.818v-11.5H6.286V8.035h2.532V5.657c0-3.231 1.429-5.154 5.494-5.154h3.381v3.963H15.58c-1.582 0-1.688.555-1.688 1.587l-.007 1.982h3.83l-.449 3.962h-3.381v11.498z" />
      </symbol>
      <symbol id="icon-github" viewBox="0 0 32 32">
        <path d="M16 .395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182.8.148 1.094-.347 1.094-.77 0-.381-.015-1.642-.022-2.979-4.452.968-5.391-1.888-5.391-1.888-.728-1.849-1.776-2.341-1.776-2.341-1.452-.993.11-.973.11-.973 1.606.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33.143-1.034.558-1.74 1.016-2.14-3.554-.404-7.29-1.777-7.29-7.907 0-1.747.625-3.174 1.649-4.295-.166-.403-.714-2.03.155-4.234 0 0 1.344-.43 4.401 1.64a15.353 15.353 0 0 1 4.005-.539c1.359.006 2.729.184 4.008.539 3.054-2.07 4.395-1.64 4.395-1.64.871 2.204.323 3.831.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895.574.497 1.085 1.47 1.085 2.963 0 2.141-.019 3.864-.019 4.391 0 .426.288.925 1.099.768C27.421 29.457 32 23.462 32 16.395c0-8.837-7.164-16-16-16z" />
      </symbol>
      <symbol id="icon-linkedin" viewBox="0 0 24 24">
        <path d="M.434 8.205h4.525v15.177H.434V8.205zm3.003-1.518h-.036C1.602 6.687.435 5.35.435 3.657c0-1.729 1.201-3.04 3.036-3.04 1.834 0 2.962 1.308 2.998 3.035 0 1.693-1.164 3.036-3.032 3.036zm19.627 16.694h-5.046v-7.778c0-2.036-.789-3.424-2.524-3.424-1.328 0-2.067.936-2.41 1.841-.128.324-.109.775-.109 1.229v8.135H7.977s.064-13.78 0-15.034h4.998v2.358c.296-1.032 1.892-2.503 4.442-2.503 3.163 0 5.648 2.164 5.648 6.818v8.359z" />
      </symbol>
      <symbol id="icon-map-pin" viewBox="0 0 24 24">
        <path d="M12 0C6.5 0 2 4.5 2 10c0 7.4 9.1 13.6 9.4 13.8.2.1.4.2.6.2s.4-.1.6-.2c.3-.2 9.4-6.4 9.4-13.8 0-5.5-4.5-10-10-10zm0 21.8c-1.9-1.4-8-6.4-8-11.8 0-4.4 3.6-8 8-8s8 3.6 8 8c0 5.4-6.1 10.4-8 11.8z" />
        <path d="M12 6c-2.2 0-4 1.8-4 4s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z" />
      </symbol>
      <symbol id="icon-map" viewBox="0 0 24 24">
        <path d="M23.5 1.1c-.3-.2-.7-.2-1 0L16 4.9 8.4 1.1h-.1C8.2 1 8.1 1 8 1c-.1 0-.2 0-.4.1h-.2l-7 4c-.2.2-.4.5-.4.9v16c0 .4.2.7.5.9s.7.2 1 0L8 19.1l7.5 3.8c.2.1.3.1.5.1.1 0 .2 0 .3-.1h.2l7-4c.3-.2.5-.5.5-.9V2c0-.4-.2-.7-.5-.9zM9 3.6l6 3v13.8l-6-3V3.6zm-7 3l5-2.9v13.7l-5 2.9V6.6zm20 10.8l-5 2.9V6.6l5-2.9v13.7z" />
      </symbol>
      <symbol id="icon-twitter" viewBox="0 0 24 24">
        <path d="M21.173 4.778a5.304 5.304 0 0 0 2.154-2.913l.009-.037a9.266 9.266 0 0 1-3.064 1.282l-.062.012c-.896-1.037-2.177-1.683-3.594-1.683-2.718 0-4.922 2.388-4.922 5.331 0 .419.042.826.125 1.215-4.09-.222-7.718-2.343-10.147-5.571a5.66 5.66 0 0 0-.667 2.682c0 1.85.869 3.482 2.191 4.44a4.645 4.645 0 0 1-2.253-.677l.02.012v.065c0 2.585 1.697 4.739 3.952 5.227a4.552 4.552 0 0 1-2.224.095c.625 2.117 2.445 3.661 4.599 3.702-1.686 1.431-3.809 2.282-6.115 2.282-.398 0-.79-.022-1.174-.073 2.178 1.511 4.767 2.396 7.547 2.396 9.058 0 14.008-8.125 14.008-15.173 0-.232-.003-.462-.012-.689a10.562 10.562 0 0 0 2.431-2.717l.026-.045c-.822.405-1.776.7-2.781.834l-.047.005z" />
      </symbol>
      <symbol id="icon-x" viewBox="0 0 24 24">
        <path d="M13.4 12l5.3-5.3c.4-.4.4-1 0-1.4s-1-.4-1.4 0L12 10.6 6.7 5.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l5.3 5.3-5.3 5.3c-.4.4-.4 1 0 1.4.2.2.4.3.7.3s.5-.1.7-.3l5.3-5.3 5.3 5.3c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4L13.4 12z" />
      </symbol>
    </svg>
  </div>

  <!-- Javascript Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="vendors/jquery.min.js?v2.1.3"><\/script>')
  </script>
  <script src="js/app.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
  <script src="js/speakers.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63786228-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-63786228-3');
  </script>
  <!-- Twitter universal website tag code -->
  <script>
  !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
  },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
  a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
  // Insert Twitter Pixel ID and Standard Event data below
  twq('init','o1fqb');
  twq('track','PageView');
  </script>
  <!-- End Twitter universal website tag code -->
</body>
</html>
